<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">KEY FACTS</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-about img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2019</h4>
                                    <h4 class="subheading">zAlliance Mission</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">zAlliance is a community of professionals that brings together experts and project teams, creating conditions for professional development and an environment for experience exchange in IT, Fintech, Blockchain areas in order to evaluate open-source culture, develop and improve blockchain projects and DApps, participate in different kinds of target hackathons and increase the interest of society to the tech side of new blockchain epoch.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-about img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2019</h4>
                                    <h4 class="subheading">zAlliance Purpose</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our task is to unite the best teams and individuals for the digital transformation of the future world. Our goal is to attract the best experts of the market, to create a global competence platform for blockchain research and development process. zAlliance members develop and implement their own products and solutions that help to transfer the processes of public and commercial organizations in the digital blockchain world or to improve the existing. Moreover, being the member of zAlliance you are able to work on the common projects and ideas. The synergy effect will provide the high quality outcome to your portfolio and experience.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-about img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2019</h4>
                                    <h4 class="subheading">Structure Advantages</h4>
                                </div>

                                <div class="timeline-body">
                                    <p class="text-muted">- sharing the production capacity resources</p>
                                    <p class="text-muted">- risks reduction in different kinds of activities (tech, legal, reputation, etc)</p>
                                    <p class="text-muted">- getting access to each other's market and working on the common projects</p>
                                    <p class="text-muted">- transfer of technology, knowledge and know-how</p>
                                    <p class="text-muted">- conducting joint research</p>
                                    <p class="text-muted">- solving HR questions</p>
                                    <p class="text-muted">- support in common Grant applications and getting funding</p>
                                    <p class="text-muted">- the development and production of technically complex products</p>
                                    <p class="text-muted">- presence in target media</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-about img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2019</h4>
                                    <h4 class="subheading">zAlliance First Initial Conference</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">First zAlliance Members gathered to discuss to organisation rules and plans for future</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-about img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July-August 2019</h4>
                                    <h4 class="subheading">Implementation of the first Common zAlliance Projects.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                          <a href="/#contact">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
