<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                            <img class="img-circle img-responsive img-service" src="img/services/1.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Cooperative Grant Applications</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                            <img class="img-circle img-responsive img-service" src="img/services/2.jpg" alt="">
                    </span>
                    <h4 class="service-heading">Research and Development</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                            <img class="img-circle img-responsive img-service" src="img/services/3.jpg" alt="">
                    </span>
                    <h4 class="service-heading">StartUp Projects Implementation</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>
